// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main-navbar{
  font-size: 18px;
}

.add-form{
  font-size: 22px;
}
.add-form{
  input{
    font-size: 18px;
  }
  option{
    font-size: 18px;
  }
}

#question-shoow{
  font-size: 20px;
}
